body {
  padding: 10px;
}

.left, .right {
  vertical-align: top;
  display: inline-block;
  width: 40%;
}
.right {
  width: auto;
}

.example {
  width: 350px;
  padding-bottom: 10px;
}

.example > * {
  padding: 10px 10px 0 10px;
}

.filter {
  text-align: right;
}

.viewport {
  overflow-y: scroll;
  height: 300px;
}

