body {
  padding: 10px;
}

.left, .right {
  vertical-align: top;
  width: 15em;
}
.right {
  width: auto;
}

.choice_container > * {
  padding: 10px 10px 0 10px;
}

.choice_container {
  padding-bottom: 10px;
}

th, tr.odd td, tr.even td {
  padding: 3px;
}

th {
  background-color: #ccc;
}

tr.odd td {
  background-color: #eef;
}

tr.even td {
  background-color: #eee;
}

.filter {
  text-align: right;
}

.example {
  width: 350px;
  padding-bottom: 10px;
}

.example > * {
  padding: 10px 10px 0 10px;
}

.viewport {
  overflow-y: scroll;
  height: 300px;
}

